.header{
    background-color: navy;
    color: darkgrey;
    text-align: center;
}

body{
    margin: 0px 0px 0px 0px
}
.main{
    background-color: lightgrey;
    background-image: url("record.png");
    background-repeat: repeat;
    min-height: 1200px;
    padding: 1em;
}

#intro{
    background-color: navy;
    color: darkgrey;
    font-weight: bold;
    min-height: 25px;
    padding: 1em;
}